{% extends 'layouts/master.html' %}

{% block title %}
MENU | List
{% endblock %}

{% block content %}
<div class="container">
    <div class="card p-5 mt-3">

        {% if title %}
            <h1>{{ title }}</h1>
            <hr>
        {% else %}
        <h1>This is Add Menu page</h1>
        <hr>
        {% endif %}
        <form action="{% url 'menu-add' %}" method="POST">
            {% csrf_token %}
            {{menu_create_form.as_p}}
            <input type="submit" class="btn btn-small btn-primary" value="Add Menu">
        </form>
        
    </div>
</div>
{% endblock %}